body {

}
header {
	font-family: Helvetica;
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url(pattern.jpeg);

}
h1 {
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: mediumspringgreen;
}
strong {
	font-family: Helvetica;
	font-weight: bold;
	color: blue;
}

h2 {
	background-color: lightcoral;
	font-size: 32px;
	color: white;
}

h3 {
	background-color: skyblue;
	font-size: 32px;
	color: white;
}